.line-numbers-wrapper .line-number {
	font-family: auto
}

width = 1200px

.theme-default-content:not(.custom){
    max-width: width;
}

.page-nav:not(.custom) {
    max-width: width;
}

.page-edit:not(.custom) {
    max-width: width;
}
.sidebar-links > li{
    font-size: 14.5px;    
}