.line-numbers-wrapper .line-number {
	font-family: auto
}

width = 1200px

.theme-default-content:not(.custom){
    max-width: width;
}

.page-nav:not(.custom) {
    max-width: width;
}

.page-edit:not(.custom) {
    max-width: width;
}
.sidebar-links > li{
    font-size: 14.5px;    
}

strong {
    font-weight: bold;
}

red {
    color: #f84949;
    font-weight: bold;
    font-size: 25px;
}

heimu{
    background-color: black
    color: black
}
heimu:hover, heimu:active {
    background-color: white;
    color: #2c3e50
}
baimu{
    color: white
}

baimu:hover, baimu:active {
    color: #2c3e50;
}